.FoodListItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 3vmin;
  padding-right: 6vmin;
  margin-bottom: 3vmin;
  padding: 2vmin;
  color: var(--text-light);
  background-color: var(--white);
  /* border: .1vmin solid var(--tan-3); */
  border-radius: 1vmin;
  overflow-y: scroll;
  overflow-x: scroll;
  font-size: 2vmin;
}

.FoodListItem img {
  height: 15vw;
  width: 15vw;
  font-size: 2vw;
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
}

.FoodListItem .add {
  display: flex;
  flex-direction: column;
}

.FoodListItem .add span {
  font-size: 1.7vw;
  text-align: center;
  color: var(--text-light);
}

.FoodListItem .name {
  font-size: 2vw;
  text-align: left;

  color: var(--text-light);
}

