.DishListItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vmin;
  padding: 2vmin;
  color: var(--text-light);
  background-color: var(--white);
  border: .2vmin solid var(--tan-3);
  border-radius: 1vmin;
  font-size: 2vmin;
  cursor: pointer;
}

.DishListItem > div> div:first-child {
  margin-bottom: .5vmin;
}

.DishListItem.selected {
  border-color: #148980;
  border-width: .2vmin;
  cursor: default;
}

.DishListItem:not(.selected):hover {
  border-color: #148980;
  border-width: .2vmin;
}

