.FoodList {
  background-color: var(--white);
  border: .1vmin solid var(--white);
  border-radius: 5vmin;
  margin-left: 3vmin;
  margin-right: 3vmin;
  padding: 3vmin;
  overflow-y: scroll;
  overflow-x: scroll;
  width: 45vw;
}


