.FoodIntakePage {
  height: 100%;
  display: grid;
  grid-template-columns: 1.6fr 3.5fr 3fr;
  grid-template-rows: 1fr;
  background-color: var(--white);
  border-radius: 2vmin;
}

.FoodIntakePage asideleft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3vmin;
  padding: 1vmin;
}

.FoodIntakePage asideright {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  margin-right: 5vmin;
  margin-top: 5vmin;
  margin-bottom: 10vmin;
}